@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'MuseoModerno';
		src: url('/fonts/MuseoModerno/MuseoModerno-Regular.ttf');
		font-weight: 400;
	}
	@font-face {
		font-family: 'MuseoModerno';
		src: url('/fonts/MuseoModerno/MuseoModerno-SemiBold.ttf');
		font-weight: 600;
	}
	@font-face {
		font-family: 'MuseoModerno';
		src: url('/fonts/MuseoModerno/MuseoModerno-Bold.ttf');
		font-weight: 700;
	}
	@font-face {
		font-family: 'MuseoModerno';
		src: url('/fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf');
		font-weight: 800;
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Regular.ttf');
		font-weight: 400;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
		font-weight: 600;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Bold.ttf');
		font-weight: 700;
	}
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-ExtraBold.ttf');
		font-weight: 800;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Regular.ttf');
		font-weight: 400;
	}
}

body {
	@apply bg-cover
	bg-fixed
	font-MuseoModerno;
}
h1 {
	@apply text-8xl
	font-bold;
}
h2 {
	@apply text-[4rem]
	font-bold;
}
h3 {
	@apply text-5xl
	font-semibold;
}
h4 {
	@apply text-4xl
	font-semibold;
}
h5 {
	@apply text-[1.75rem];
}
h6 {
	@apply text-lg;
}

@layer components {
	.btn {
		@apply rounded-2xl
		font-semibold;
	}

	.btn-white {
		@apply bg-white
		text-black
		hover:bg-mint-gradian
		hover:text-white;
	}

	.btn-mint {
		@apply bg-mint-gradian
		bg-gradient-to-r
		text-white
		hover:bg-white
		hover:text-gray-primary;
	}

	.card {
		@apply bg-yellow-card hover:shadow-lg hover:shadow-amber-100;
	}

	.small-card {
		@apply rounded-2xl;
	}
}

@layer utilities {
}
